@bw1660: ~"(max-width: 1659px)";
@w1660: ~"(min-width: 1660px)";

@bw1340: ~"(max-width: 1339px)";
@w1340: ~"(min-width: 1340px)";

@bw1170: ~"(max-width: 1169px)";
@w1170: ~"(min-width: 1170px)";

@bw1020: ~"(max-width: 1019px)"; //хедер переходит в моб версию тут
@w1020: ~"(min-width: 1020px)";

@bw768: ~"(max-width: 767px)";
@w768: ~"(min-width: 768px)";

@bw670: ~"(max-width: 669px)";
@w670: ~"(min-width: 670px)";

@bw600: ~"(max-width: 599px)";
@w600: ~"(min-width: 600px)";

@bw450: ~"(max-width: 449px)";
@w450: ~"(min-width: 450px)";


@white: #ffffff;
@black: #1f1e1e;
@red: #bc3324;
@red_dark: #a51505;
@black-disabled: #bfbfbf;
@gray: #dedede;

@fontOS: "Open Sans", sans-serif;
@fontLORA: "Lora", serif;
@fontMAK: "mak", serif;


