.article {
  padding: 40px 0 150px;
  &__container {
    .container();
    flex-direction: column;
  }
  &__content {
    max-width: 830px;
  }
  &__title {
    margin: 0 0 80px;
    font-family: @fontOS;
    font-weight: 500;
    font-size: 70px;
    line-height: 90px;
    text-align: center;
  }


}

