.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;


  &__title {
    margin: 0 0 46px;
    font-family: @font2;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;

    position: relative;
    left: 9px;
  }

  &__btns {
    display: flex;
    
    gap: 106px;
  }
}